@page
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = "下载个人数据";
    ViewData["ActivePage"] = ManageNavPages.DownloadPersonalData;
}

<h4>@ViewData["Title"]</h4>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}