@page
@model PersonalDataModel
@{
    ViewData["Title"] = "个人资料";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>您的帐户包含您提供给我们的个人数据。此页面允许您下载或删除该数据。</p>
        <p>
            <strong>删除此数据将永久删除您的帐户，并且无法恢复。</strong>
        </p>
        <form asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-default" type="submit">下载</button>
        </form>
        <p>
            <a asp-page="DeletePersonalData" class="btn btn-default">删除</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}