@{
    ViewData["Title"] = "联系我们";
}
<h2>联系我们</h2>


<address>
    杭州电子科技大学<br />
    二教中楼三楼<br />
    <abbr title="Phone">联系电话:</abbr>
    0571-12345678
</address>

<address>
    <strong>技术支持:</strong> <a>Support@hduiot.club</a><br />
</address>
