<div style="width:1014px;height:681px;border:red 0px solid; margin-left:0px; margin-top:0px; position:center; ">
    <img style="position:center;left:0px;top:0px;width:100%;height:100%;z-Index:-0; border:0px solid blue" src="~/images/协议.jpg" />
</div>
